.about-me {
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffff;
  width: 880px;
}
.abme-text {
  padding-right: 20px;
}
li {
  margin: 5px 0;
}

td {
  padding-top: 5px;
  padding-right: 50px;
  padding-bottom: 15px;
}
.crrent-interests-list {
  margin-left: 20px;
}

@media screen and (max-width: 480px){
  .about-me{
    margin-top: 0;
    width: 350px;
  }
  
 

  table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
  }
  
  table td::before {
    content: attr(data-label);
    float: right;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

}
/*
@media only screen and (min-width: 768px) {
  .about-me{
    margin-top: 0;
    width: 700px;
  }

}
*/